.link-menu-cart {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--frambuesaVibrante);
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.link-menu-cart:hover {
  color: var(--frambuesaVibrante);
  border: 1px solid var(--frambuesaVibrante);
  background-color: #fff;
}

.link-menu-cart:active {
  transform: scale(0.9);
}

.button-cart-pago {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  padding: 10px 0px;
  color: var(--button-color);
  background-color: var(--frambuesaVibrante);
  border: 1px solid var(--frambuesaVibrante);
}

.button-cart-pago:hover {
  background-color: var(--frambuesaVibranteHover);
  border: 1px solid var(--frambuesaVibrante);
}

.button-cart-pago:active {
  background-color: var(--frambuesaVibrante) !important;
  border: 1px solid var(--frambuesaVibrante) !important;
  transform: scale(0.9);
}
