.card-title {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--title-color);
}

.badge-precio {
  background-color: var(--bg-color) !important;
}

.item-precio {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
}

.item-porciones {
  color: rgb(45, 45, 45);
  margin-bottom: 10px;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  color: rgb(45, 45, 45);
}

.button-add-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  padding: 10px 0px;
  color: var(--button-color);
  background-color: var(--button-bg);
  border: 1px solid var(--button-bg);
}

.button-add-cart:hover {
  background-color: var(--button-hover);
  border: 1px solid var(--button-bg);
}

.button-add-cart:active {
  background-color: var(--button-bg) !important;
  border: 1px solid var(--button-bg) !important;
  transform: scale(0.9);
}

.link-vermas {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  border-radius: 5px;
  color: var(--button-color);
  background-color: var(--button-bg);
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

.link-vermas:hover {
  color: var(--button-hover);
  border: 1px solid var(--button-hover);
  background-color: var(--button-color);
}

.link-vermas:active {
  transform: scale(0.9); /* Efecto de reducción al hacer clic */
}
