.card-product {
  box-shadow: 0px 4px 10px rgba(234, 213, 180, 0.3) !important;
}

.card-title {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--title-color);
}

.badge-precio {
  background-color: var(--frambuesaVibrante) !important;
}

.item-precio {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
}

.item-porciones {
  color: rgb(45, 45, 45);
  margin-bottom: 10px;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  color: rgb(45, 45, 45);
}

.button-view-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  padding: 10px 0px;
  color: var(--frambuesaVibrante);
  background-color: transparent;
  border: 1px solid var(--frambuesaVibrante);
}

.button-view-cart:hover {
  background-color: var(--frambuesaVibranteHover);
  border: 1px solid var(--frambuesaVibranteHover);
}

.button-view-cart:active {
  background-color: var(--frambuesaVibrante) !important;
  border: 1px solid var(--frambuesaVibrante) !important;
  transform: scale(0.9);
}

.button-add-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2;
  padding: 10px 0px;
  color: var(--button-color);
  background-color: var(--frambuesaVibrante);
  border: 1px solid var(--frambuesaVibrante);
}

.button-add-cart:hover {
  background-color: var(--frambuesaVibranteHover);
  border: 1px solid var(--frambuesaVibranteHover);
}

.button-add-cart:active {
  background-color: var(--frambuesaVibrante) !important;
  border: 1px solid var(--frambuesaVibrante) !important;
  transform: scale(0.9);
}
