.body-item-detail {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, var(--marfilSuave), #ffff);
}

.border-custom {
  border: 1px solid var(--frambuesaVibrante);
}

.badge-detail {
  padding: 6px;
  margin-bottom: 10px;
  background-color: var(--caramelo) !important;
}

.nombre-detail {
  margin-bottom: 15px;
  font-family: var(--font-text);
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: bold;
  color: var(--chocolateOscuro);
}

.rating-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.reviews-detail {
  color: var(--text-color);
}

.precio-detail {
  margin-bottom: 15px;
  color: var(--text-color);
  font-family: var(--font-text);
  font-size: var(--size-title);
  font-weight: bold;
}

.preparacion-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.porciones-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.descripcion-detail {
  margin-bottom: 15px;
  font-family: var(--font-text);
  font-size: clamp(1.6rem, 3vw, 2rem);
  color: var(--text-color);
}

.button-view-cart-detail {
  color: var(--frambuesaVibrante);
  background-color: transparent;
  border-color: var(--frambuesaVibrante);
  padding: 10px;
}

.button-view-cart-detail:hover {
  background-color: var(--frambuesaVibranteHover);
  border-color: var(--frambuesaVibranteHover);
}

.button-view-cart-detail:active {
  background-color: var(--frambuesaVibrante) !important;
  border-color: var(--frambuesaVibrante) !important;
  transform: scale(0.9);
}

.button-add-detail {
  color: white;
  background-color: var(--frambuesaVibrante);
  border-color: var(--frambuesaVibrante);
  padding: 10px;
}

.button-add-detail:hover {
  background-color: var(--frambuesaVibranteHover);
  border-color: var(--frambuesaVibranteHover);
}

.button-add-detail:active {
  background-color: var(--frambuesaVibrante) !important;
  border-color: var(--frambuesaVibrante) !important;
  transform: scale(0.9);
}
